.app-container {
  display: flex;
}

.content {
  width: 100%;
}
.sidebar {
  min-height: 730px;
}
.post-card {
  min-width: 30rem;
  margin: 20px 50px;
}
.post-tags {
  margin: 0px 3px;
}

.reactions {
  width: 100%;
  margin: 15px 0 0 0;
}

.create-post {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
}

.error-msg {
  margin-top: 60px;
}
